@import '~bootstrap/scss/bootstrap';

header {
    margin: 20px 0px;
}



ul {
    display: flex;
    list-style: none;



    li a {
        padding: 10px;
        padding-bottom: 50px;
        text-decoration: none;
        color: black;



        &.active:hover {
            color: rgba(2, 130, 249, 255);
            border-bottom: 4px solid rgba(2, 130, 249, 255);
        }
    }

}

.inset {
    top: -45px !important;
}

.jumbotron {
    position: relative;
    height: 300px;
    z-index: -1;
}

.img-jumbotron {
    width: 100%;
}

.current {
    text-transform: uppercase;
    background-color: rgba(2, 130, 249, 255);
    color: white;
    padding: 10px 12px;
    font-weight: 700;
    position: relative;
    top: 10px;
    left: 70px;
}